
.principal{
  height: 100vh;
  width: 100vw;
  background-image: url(../public/bg.jpg);
  background-size:contain;
  background-position-x: center;
  position: relative;
  
}
.calculadora{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.list{
  display: flex;
  justify-content: center;
  padding-top: 3.5vh;
}
.list-item{
  background-color: transparent;

}
.title{
  margin-left: 10vw;
}
.month-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
  margin-left: 25vw;
  margin-right: 25vw;
}
.feriados-table{
  background-color: aliceblue;
  opacity: .3;
}