
.principal{
  height: 100vh;
  width: 100vw;
  background-image: url(../public/bg.jpg);
  background-size:contain;
  background-position-x: center;
  position: relative;
  
}
.calculadora{
  flex-direction: column;
  margin-top: 20vh;
}
.month-form, .calculadora, .fail-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list{
  display: flex;
  justify-content: center;
  padding-top: 3.5vh;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.month-form{
  flex-direction: column;
  margin-top: 5.9vh;
  margin-left: 25vw;
  margin-right: 25vw;
}
.feriados-table{
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  scale: 1.5;
}
.fail-img{
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 25vw;
  margin-right: 25vw;
}
@media (max-width: 1000px ){
   .title{
    scale: 70%;
   }
}
@media (max-width: 700px ){
  .title{
   scale: 40%;
  }
}
